.home{
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: clamp(2.5rem,10vw,4rem);
    text-align: center;
    font-weight: 700;
   }

.title{
    flex: 1;
    display: flex;
    justify-content: center;
}

.title h3{
    font-size: 5rem;
}

.title svg {
    filter: hue-rotate(40deg);
}

.graphic{
    flex: 1;
    display: grid;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.graphic img{
    padding:0  10vw 0 8vw;
    width: clamp(200px, 80%, 450px);
}

.exButton{padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-content:center;
}

.exButton button {

    background: #FBCA1F;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    margin-bottom: 2rem;
   }
   
   .exButton button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
   }
   
   .exButton button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   }

   .projectCards{
    min-height: 400px ;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding:2rem 0;
    justify-content: space-evenly;
    align-items: center;
   }

@media screen and (max-width: 768px) {
   
.home{
    margin-top: -2rem;
    flex-direction: column;
   } 

.graphic img{
    margin: 0 auto;
    padding: 0;
   }

.title {
    justify-content: flex-start;
}

.title h3 {
    font-size: 4.5rem;
    margin: 0.5rem 0 2rem 0;
}


}