.project{
    background: transparent;
    width: 90vw;
    margin: auto;
}

.project .intro {
    display: flex;
    align-items: center;
    gap: 1rem;
}
/* basic styles*/

.sectionLayout  {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pPara{
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 500;
}

.img43{
    width: clamp(300px, 40vw, 500px);
    aspect-ratio: 4/3;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: .1rem .1rem;
}

.liPoints {
    font-size: 1.25rem;
    list-style:decimal;
    margin-left: 1rem;
    font-weight:400;
}

.featuresimgbox{
    width: fit-content;
}
/* basic styles end*/




/* .project .intro .textDisplay{
    
} */

/* .project .intro img{
} */