.project{
    background: transparent;
    width: 80vw;
    margin: auto;
}

/* basic styles*/

.sectionLayout  {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    text-align: justify;
}

.pPara{
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 500;
}

.img43{
    width: clamp(300px, 35vw, 500px);
    aspect-ratio: 4/3;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: .1rem .1rem;
}

.liPoints {
    font-size: 1.25rem;
    list-style:decimal;
    margin-left: 1rem;
    font-weight:400;
}

.ProjectFeaturesimgbox{
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
}

/* basic styles end*/

@media screen and (max-width: 500px){
.sectionLayout{
    text-align:start;
}
}